# Created by .ignore support plugin (hsz.mobi)
### Example user template template
### Example user template

# IntelliJ project files
.idea
*.iml
out
gen
log
/target/
/messagePush.iml
/.idea/
/messagePush_server.iml
/messagePush_server/messagePush.iml
