<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.xzst.relation.mp.dao.WarningDetailDao">

    <resultMap id="warningDetailMap" type="com.xzst.relation.mp.model.MessageDetail.WarningDetailBean">
        <!-- column:库表的字段名 property:实体类里的属性名 -->
        <id column="id" property="id" />
        <result column="processedmessage" property="processedMessage" />
        <result column="typename" property="typeName" />
        <result column="yhxm" property="createrName" />
        <result column="isread" property="isRead" />
        <result column="sj" property="createTime" />
        <result column="warningaddress" property="warningAddress" />
        <result column="lat" property="lat" />
        <result column="lon" property="lon" />
        <result column="targetid" property="targetId" />
        <result column="processedmessagemap" property="processedMessageMapStr" />

    </resultMap>

    <select id="getConfigInfoByConfigIdAndResultSetId" parameterType="java.lang.String" resultType="java.util.Map">
                    SELECT M.*,N.TARGETID
              FROM FXJL_WARNING_FOCUS_COL M, FXJL_WARNING_CONFIG N
             WHERE M.CONFIGID = N.ID
               AND N.WORKSTATUS = '0'
               AND N.ISDEL = '0'
               AND M.IS_TABLE_COL = '0'
               AND N.ID=#{configId,jdbcType=VARCHAR}
               AND n.RESULTSETID=#{resultSetId,jdbcType=VARCHAR}
               ORDER BY to_number(M.ORDERID)
    </select>

    <select id="getAllconfigIdByResultSetId" parameterType="java.lang.String" resultType="java.lang.String">
        SELECT DISTINCT N.ID
              FROM FXJL_WARNING_CONFIG N
             WHERE N.WORKSTATUS = '0'
               AND N.ISDEL = '0'
               AND n.resultsetid=#{resultSetId,jdbcType=VARCHAR}
    </select>


    <insert id="insertMeassge2Database" parameterType="com.xzst.relation.mp.model.MessageDetail.SaveMessageDetailParams">
        INSERT INTO FXJL_WARNING_MESSAGE_DETAIL
            (ID,
              CONFIGID,
              RESULTID,
              ORIGINALMESSAGE,
              PROCESSEDMESSAGE,
              PROCESSEDMESSAGEMAP,
              WARNINGADDRESS,
            <if test="create_time != null ">
                create_time,
            </if>
              lat,
              lon,
              WARNING_TIME,
              targetid
              )VALUES
            (#{id,jdbcType=VARCHAR},
            #{cofnigId,jdbcType=VARCHAR},
            #{resultId,jdbcType=VARCHAR},
            #{originalMessage,jdbcType=VARCHAR},
            #{processedMessage,jdbcType=VARCHAR},
            #{processedMessageMap,jdbcType=VARCHAR},
            #{warningAddress,jdbcType=VARCHAR},
            <if test="create_time != null ">
                #{create_time,jdbcType=TIMESTAMP},
            </if>
            #{lat,jdbcType=VARCHAR},
            #{lon,jdbcType=VARCHAR},
            #{warningTime,jdbcType=VARCHAR},
            #{targetId,jdbcType=VARCHAR} )
    </insert>


    <select id="getWarningDetail" parameterType="java.lang.String" resultMap="warningDetailMap">

        SELECT T.ID,
        T.PROCESSEDMESSAGE,
        M.TYPENAME,
        N.YHXM,
        CASE T.ISREAD
        WHEN '0' THEN
        '未读'
        WHEN '1' THEN
        '已读'
        END ISREAD,
        T.WARNING_TIME  SJ,
        T.WARNINGADDRESS,
        T.LAT,
        T.LON,
        t.targetid,
        T.processedmessagemap
        FROM FXJL_WARNING_MESSAGE_DETAIL T, FXJL_WARNING_CONFIG M, XTYH_T N
        WHERE T.CONFIGID = M.ID
        AND M.CREATERID = N.YHBH
        AND T.ID=#{id,jdbcType=VARCHAR}




    </select>

</mapper>